---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
    titulo="Correo confirmado"
    noindex={true}
    scripts={false}
    trackLead={true}
>
    <h1
        style="margin-top: var(--gap-2xl); margin-bottom: 1.4em; font-family: var(--hand); font-weight: 700; font-size: clamp(2rem, 4vw, 3rem); color: var(--rojo);"
    >
        Qué esperar a partir de ahora:
    </h1>

    <div class="cuerpo">
        <div class="callout" style="margin-bottom: var(--gap-md);">
            <ol style="padding-left: var(--gap-md); margin: 0;">
                <li>
                    Ahora te llega el google doc que te había prometido, <u
                        class="mark-amarillo"
                        >tiene una sorpresa en la última página.</u
                    > La he puesto ahí adrede para que solo los valientes la encuentren.
                </li>
                <li style="margin-bottom: 0;">
                    Te llegarán <u class="mark-amarillo">más emails:</u> Aburridos,
                    de valor, curiosos, sin gracia, con gracia, de pura venta y algunos
                    sin sentido...<br /><br />Es como una ruleta rusa, no sabes
                    cuál te va a tocar. Te mandaré varios a la semana pero no te
                    prometo la alegría de un email diario (solo en ocasiones
                    especiales).
                </li>
            </ol>
        </div>
    </div>
</BaseLayout>
