---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
    titulo="Correo confirmado"
    noindex={true}
    scripts={false}
    trackLead={true}
>
    <h1
        style="margin-top: var(--gap-2xl); margin-bottom: 1.4em; font-family: var(--hand); font-weight: 700; font-size: clamp(2rem, 4vw, 3rem); color: var(--rojo);"
    >
        Qué esperar a partir de ahora:
    </h1>

    <div class="cuerpo">
        <div class="callout" style="margin-bottom: var(--gap-md);">
            <ol style="padding-left: var(--gap-md); margin: 0;">
                <li>Primero te llega lo que te había prometido.</li>
                <li>
                    Después también te mando <span class="squiggle"
                        >más emails.
                    </span>Aburridos, con aprendizaje, curiosos, sin gracia, con
                    gracia, de pura venta e incluso algunos sin sentido...<br
                    /><br />Es como una ruleta rusa.
                </li>
            </ol>
        </div>
    </div>
</BaseLayout>
