---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout
  titulo="Recibido"
  noindex={true}
  scripts={false}
  trackLead={true}
>
  <h1 class="titulo-breaker titulo-breaker--bg-claro">
    Recibido <span class="text-verde">✔︎</span>
  </h1>

  <div class="cuerpo">
    <p>Te escribo pronto para decirte si puedo ayudarte (o no).</p>
    <p>Gracias por la confianza.</p>
  </div>
</BaseLayout>
