---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout titulo="La Forja | David Varea" noindex={true} favicon="forja">
    <div class="banner">
        <section class="hero hero--la-forja">
            <p class="bsl-leadin">
                Para personas no-técnicas que están casi satisfechas con su IA
                de confianza (pero no pueden descubrir por qué en su caso la IA
                no les está cambiando la vida tanto como nos han prometido)
            </p>

            <h1>
                <img
                    src="/imgs/forja-yunque.webp"
                    alt=""
                    width="512"
                    height="512"
                />
                LA FORJA
            </h1>

            <p class="bsl-deck">
                El método para transformar a Claude. Crea un ejército de clones
                que tienen tu cerebro y tu contexto para entender de qué forma
                concreta pueden ayudarte a ti.
            </p>
        </section>
    </div>
</BaseLayout>
