<footer class="site-footer">
  <p class="site-footer-disclaimer">
    Este sitio no está afiliado a Facebook™ ni a Meta Platforms, Inc.
    FACEBOOK es una marca registrada de Meta Platforms, Inc.
  </p>
</footer>
