---
const {
  formId = "158544190416881022",
  successUrl = "/not-done",
  botonTexto = "Envíame el mapa",
  botonIcono = "/imgs/svg/email.svg",
  mostrarPrivacyNote = true,
} = Astro.props;
---
<form class="optin" data-ml-form-id={formId} data-ml-success={successUrl}>
  <label>
    <span class="visually-hidden">Email</span>
    <input
      type="email"
      name="email"
      placeholder="tucorreo@email.com"
      autocomplete="email"
      required
    />
  </label>
  {mostrarPrivacyNote && (
    <p class="privacy-note">
      Al enviar el formulario aceptas recibir correos. Puedes leer las
      burocráticas políticas de privacidad
      <a href="/privacidad" target="_blank" rel="noopener">aquí</a>.
    </p>
  )}
  <button type="submit" class="block block--primary">
    <img class="icon" src={botonIcono} alt="" />
    <span class="body">
      <span class="title">{botonTexto}</span>
    </span>
  </button>
</form>
